/*General*/
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
img{
    max-width: 100%;
    height: auto;
}

.cabeza {
    background-color: rgb(25, 161, 25);
    position:fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

.logo{
        width: 2rem;

}

.pie{
    background-color:rgb(25, 161, 25);
    padding: 0.5rem;
    margin-top: 2rem;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.774);
}

h1 {
    color: #ffffff;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3.5rem;

}
h2{
    color:rgba(255, 166, 0, 0.644);
    text-align: center;
}
h3{
    color:rgba(255, 166, 0, 0.644);
}

a {
    text-decoration: none;
    color: #ffffff;
}

p {
    color: #ffffff;
    line-height: 1.2;
}


/* Inicio estilos index  ul,
ol {
    list-style-type: none;
}*/


/* Fin estilos index   */
/* Inicio estilos contacto*/
label{
    color: rgba(255, 166, 0, 0.644);
}
form{
    width: max-content;
}
/* Inicio estilos deportes*/
td ,
tr {
color: black;
}

table{
    background-color:#ffffff;
    margin:2.5rem;

}
/* Inicio estilos games*/


/* Inicio estilos casino*/

.mesas{
    background-color:rgb(25, 161, 25);
}