*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: $fuente_principal;
    background-image: linear-gradient(to left,rgba(22, 22, 22, 0.774),rgba(0, 0, 0, 0.863) );
}

h1 {
    color: $color_blanco;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3.5rem;

}
h2{
    color:$color_naranja;
    text-align: center;
}
h3{
    color:$color_naranja;
}

a {
    text-decoration: none;
    color: $color_blanco;
}

.logo {
    width: 2rem;
}

img{
    max-width: 100%;
    height: auto;
}

p {
    color: $color_blanco;
    line-height: 1.2;
}